############## Ignoring unrequired files #######################
*/bash.exe.stackdump
*/sh.exe.stackdump
*/__pycache__
*/*.pyc

*/db/bash.exe.stackdump
*/db/sh.exe.stackdump
*/db/__pycache__
*/db/*.pyc

*/models/bash.exe.stackdump
*/models/sh.exe.stackdump
*/models/__pycache__
*/models/*.pyc

*/exceptions/bash.exe.stackdump
*/exceptions/sh.exe.stackdump
*/exceptions/__pycache__
*/exceptions/*.pyc

